@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf9f6; /* Match navbar color */
  --foreground: #000000;
  --accent: #A18072;
  --accent-hover: #936b58;
  --navbar-bg: #faf9f6; /* Add transparency (70%) */
  --overlay-bg: rgba(161, 128, 114, 0.8);
  --navbar-text: black; /* White text */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Alice', serif; /* Apply Alice for body text */
  font-weight: 400; /*regular*/
}

p {
  font-family: 'Alice', serif; /* Apply Alice for body text */
  font-weight: 400;
  color: #7a5d43;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alice', serif; /* Apply Alice for headings */
  font-weight: 700; /* Bold */
  color: #5a3e2b; 
}

.logo-text {
  font-family: 'Maragsa', sans-serif;
}

/* Accent color styles for emphasis */
.accent {
  color: var(--accent) !important;
}

.text-accent {
  color: var(--accent) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
}

.border-accent {
  border-color: var(--accent) !important;
}

.button-accent {
  display: inline-block;
  background-color: var(--accent) !important;
  color: white !important;
  padding: 0.75rem 2rem; /* px-8 py-3 equivalent */
  border-radius: 9999px; /* Fully rounded */
  font-size: 1.125rem; /* Text-lg */
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.button-accent:hover {
  background-color: var(--accent-hover) !important;
  transform: scale(1.05);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px); /* Adjust the height of the float */
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1.5s ease-in-out;
}
